body {
    background-image: url("./images/clouds.jpg");
    background-color: skyblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}

.header {
    font-family: 'Quicksand', sans-serif;
    color: #353634;
    font-size: xx-large;
    font-weight: bolder;
}

h1 {
    padding: 25px;
    margin: 0;
}

#converter {
    background-image: linear-gradient(to bottom right, #cb373b, #ffc600, #4baeda);
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    border-radius: 25px;
    border: none;
    padding: 25px 35px;
    margin: 25px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    padding: 25px;
}

.sun, .hot-cold {
    margin: 15px;
}